* {
	font-family: 'Raleway',sans-serif; 
	margin:0;
}

table {
	border-collapse: collapse;
}

td {
	
	border: 1px solid #333;
	height:40px;
	max-height:40px;
	box-sizing: border-box;
	padding:5px;
	font-size:14px;
	overflow:hidden;
}


.top_corner {
	position:fixed;
	width:130px;
	height:100px;
	z-index:100;
	background:#eee;
	top:0;left:0;
	
}

#header_container {
	height:100px;
	background:#fff;
	padding-left:130px;
	position:fixed;
	top:0;
	left:0;
	z-index:50;
}

.header {
	float:left;
	background:#000;
	color:#fff;
	width:250px;
	margin:10px;
}

.header td {
	color:#000;
	font-size:10px;
	text-align: center;
	width:50px;
	max-width:50px;
	padding:0;
}

.header tr {
	background:#fff;
}

.button{
	float:right;
	padding:10px;
}

.name {
	float:left;
	padding:10px;
	
}

#cell_input {
	border:none;
	height:35px;
	width:40px;
	box-sizing: border-box;
	background:none;
	font-size:14px;
}

#cell_select {
	position:absolute;
	margin-left:60px;
	margin-top:-20px;
	background:#fff;
	border: 1px solid #111;
}

#cell_select div {
	padding:5px;
}

#cell_select div:hover {
	background:#9f9
}

#content_container {
	margin-top:100px;
	margin-left:130px;
}

.content {
	float:left;
	width:250px;
	margin:0px 10px 0 10px;
}

.content td {
	max-width:50px;
	width:50px;
	padding:2px;
	box-sizing:border-box;
}

.startday td{
	border-top: 5px solid green;
}

#date_container {
	position:fixed;
	width:130px;
	top:100px;
	left:0;
}

#select_columns {
	background:white;
	position:fixed;
	z-index:200;
	left:50px;
	top:50px;
	border: 1px solid black;
}

#select_columns label {
	display:block;
	-moz-user-select: none;
	padding:10px;
}

#select_columns label:hover {
	background:#9f9
}

#open_select_columns {
	position:fixed;
	z-index:200;
	top:0;
	left:0;
	width:50px;
	height:50px;
	background:#f60;
	font-size:40px;
	font-weight: 800;
	-moz-user-select: none;
	text-align:center;
	line-height: 50px;
}

#open_select_columns:hover {
	background:#fc3;
}

#select_columns h1{
	font-size:16px;
	padding:14px;
	border-bottom: 1px solid black;
	background:#a2bcd4;
}

#select_columns button{
	width:100%;
	height:40px;
	background:#a2bcd4;
}

#select_columns button:hover{
	background:#829cb4;;
}

.arrow_box {
	position: absolute;;
	background: #88b7d5;
	border: 3px solid #c2e1f5;
	font-size:12px;
	height:56px;
	line-height:19px;
	width:100px;
	margin-top: -8px;
	box-sizing: border-box;
	overflow: none;
	padding:5px;
	
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #88b7d5;
	border-width: 12px;
	margin-top: -12px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #c2e1f5;
	border-width: 16px;
	margin-top: -16px;
}