.date_container {
	
	z-index:10;
	background:white;
	height:400px;
	width:135px;
	overflow:hidden;
	float:left;
}

#date_table {
	user-select:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	display:block;
	height:400px;
	width:150px;
	overflow-y:scroll;
	-webkit-overflow-scrolling: touch;
	
}